{%extends "base.html" %}
{% load static %}  
{% block content %}               
<html>
    <head>
        <title>FIR Registration Page</title>
        <style>
            h1{
                font-family: "montserrat";
                color: chocolate;
                font-weight: bold;
            }

            p{
                font-family: "montserrat";
                font-weight: bold;
                font-size: 20px;
            }
            body
            {
                background-color: #D3D3D3;
            }
        </style>
    </head>
    <body>
        <form action="" method="POST">
            
            {% csrf_token %}
            <p>{{form}}</p><br><br>
            <center><input type="submit" name="submit" style="font-size:large;"><br/></center>
        </form>
        {% endblock %}
    </body>
</html>